body {
  background-color: #794c13;
  color: #3b3b3b;
}

h1 {
  font-size: 24px;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #000000;
  border-bottom: solid 1px #3b3b3b;
}

h3 {
  font-size: 18px;
  padding-left: 4px;
  border-left: solid 4px #3b3b3b;
}

#schedule {
  padding: 10px 20px 10px 20px;
  background-color: #9933ff;
}

.iniad {
  color: #00cc00;
}

.time {
  font-weight: bold;
  color: #3b3b3b;
  font-size: 30px;
}
