body {
  margin: 0;
  background-color: #FFFFFF;
  color: #3b3b3b;
}

h1 {
  font-size: 36px;
  text-align: center;
}

h2 {
  font-size: 26px;
  color: #3b3b3b;
  border-bottom: solid 1px #3b3b3b;
}

h3 {
  font-size: 22px;
  padding-left: 4px;
  border-left: solid 4px #3b3b3b;
}

#schedule {
  padding: 10px 20px 10px 20px;
  background-color: #FFFFFF;
  width: 50%;
}

.iniad {
  color: #191970;
}

.time {
  font-weight: bold;
  color: #3b3b3b;
  font-size: 20px;
}

#contents {
  display: flex;
  jusrify-content: center;
}

#concept {
  width: 50%;
  padding: 10px 20px 10px 20px;
}

#header {
  background-color: #1d2069;
  margin: 0;
  padding: 15px 30px 15px 30px;
  height: 50px;
}

#header img {
  height: 100%;
}
#date-place {
  font-size: 20px;
}
